.output-area-class {
  background-color: bisque;
}

.display-forecast-title-class {
  display: flex;
  flex-direction: row;
}

.specific-area-name {
  padding-left: 1em;
  color:darkblue
}

.data-mat-table {
  background-color: bisque;
}

table {
  width: 100%;
}
