<div class="input-area-div"  *ngIf="serverAddress">
  <div class="regions-div">
    <div class="regionNameDivClass">
      <label for="regionName">Region Name:</label>
      <select id="regionNameId" name="regionName" class="regionNameClass" value='{{selectedRegionName}}' (change)="onChangeRegion($event)">
        <option *ngFor="let selectedRegionName of regions" ([value])="selectedRegionName">{{selectedRegionName}}</option>
      </select>
    </div>

    <div class="subRegionNameDivClass">
      <label for="subRegionName">SubRegion Name:</label>
      <select id="subRegionNameId" name="subRegionName" class="subRegionNameClass" value='{{selectedSubRegion}}' (change)="onChangeSubRegion($event)">
        <option *ngFor="let selectedSubRegion of selectedSubRegions" ([value])="selectedSubRegion">{{selectedSubRegion}}</option>
      </select>
    </div>

    <div class="cityDivClass">
      <label for="city">City:</label>
      <select id="cityId" name="city" class="cityClass" value='{{selectedCity}}' (change)="onChangeCity($event)">
        <option *ngFor="let selectedCity of selectedCities" ([value])="selectedCity">{{selectedCity}}</option>
      </select>
    </div>

    <div class="skipDaysDivClass">
      <label for="skipDays" class="skip-days-label-class">Skip Days:</label>
      <input id="skipDaysId" type="text" name="skipDays" class="skip-days-input-class" value="{{skipDays}}" (change)="onChangeSkipDays($event)">
    </div>

    <div class="takeDaysDivClass">
      <label for="takeDays" class="take-days-label-class">Take Days:</label>
      <input id="takeDaysId" type="text" name="takeDays" class="take-days-input-class" value="{{takeDays}}" (change)="onChangeTakeDays($event)">
    </div>
  </div>
</div>

