<h1>Select desired configuration:</h1>
<div class="input-area-div">
  <p>Choose your location</p>
  <div class='server-address-div'>
    <label for="serverAddress">Server address:</label>
    <input id="serverAddressId" type="text" name="serverAddress" class="serverAddressClass">
  </div>
  <div class="regions-div">
    <div class="regionNameDivClass">
      <label for="regionName">Region Name:</label>
      <select id="regionNameId" name="regionName" class="regionNameClass" (change)="onChangeRegion($event)">
        <option *ngFor="let selectedRegion of regions" ([value])="selectedRegion">{{selectedRegion.name}}</option>
      </select>
    </div>

    <div class="subRegionNameDivClass">
      <label for="subRegionName">SubRegion Name:</label>
      <select id="subRegionNameId" name="subRegionName" class="subRegionNameClass" (change)="onChangeSubRegion($event)">
        <option *ngFor="let selectedSubRegion of selectedSubRegions" ([value])="selectedSubRegion">{{selectedSubRegion.name}}</option>
      </select>
    </div>
    <div class="cityDivClass">
      <label for="city">City:</label>
      <select id="cityId" name="city" class="cityClass" (change)="onChangeCity($event)">
        <option *ngFor="let selectedCity of selectedCities" ([value])="selectedCity">{{selectedCity.name}}</option>
      </select>
    </div>
  </div>
</div>

